body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1, h2 {
  text-align: center;
  color: #444;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin: 10px 0 5px;
}

input, select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#menuConfig {
  margin-top: 20px;
}

#menuList {
  list-style-type: none;
  padding: 0;
}

#menuList li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menuList li span {
  flex-grow: 1;
}

#menuList button {
  margin-left: 10px;
  background: #dc3545;
  border: none;
}

#menuList button:hover {
  background: #c82333;
}
